* {
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    border: 1px solid orangered;
    
}
.branding span{
    color: rgb(215, 27, 58);
}
nav  ul {
    display: flex;
    height: 100%;
    align-items: flex-end;
    background-color: red;
    gap: 20px;

}
nav ul li {
    list-style: none;
}
nav a {
    color: white;
    text-decoration: none;
    background-color: pink;
}



https://picsum.photos/id/2/1500/500/?blur=4